<ul class="nav navbar-nav pull-right">
  <% if user_signed_in? %>
    <li class="active"><a href="#"><strong><%= current_user.email %></strong></a></li>
    <% if current_user.admin? %>
      <li><%= link_to '[ ADMIN ]', admin_path %></li>
    <% elsif current_user.manager? %>
      <li>Cabinet</li>
    <% end %>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %><li>
    <li></li>
    <li><%= link_to 'Forgot password?', new_user_password_path %><li>
  <% end %>
</ul>
